        *{
            margin: 0;
            padding: 0;
            font: 14px sans-serif;
        }

        header{
            background-color: rgb(36, 36, 85);
            display: flex;
            justify-content: space-between;
        }
        
        h1{
            color: white;
            font-size: 20px;
            padding: 20px;
        }
        ul{
            display: flex;
            color: white;
            list-style: none;
            align-items: center;
        }

        li{
            padding-right: 7px;
            border-bottom: 2px solid rgb(36, 36, 85);
            padding-top: 10px;
            padding-left: 7px;
            text-align: center;
            border-radius: 1px;
        }
        
        li:hover{
            border-bottom-color: brown;
            cursor: pointer;
        }
        
        form{
            display: none;
        }